@media (max-width: 575.98px) { 
    .container {

        & h3 {
            font-size: 1.5rem;
        }
        & #logo {
            width: 5rem;
        }
    
        & #checkbox {
            font-size: 0.7rem;
        }
    
        & #login-ok {
            & button {
                width: 2.7rem;
                height: 2.7rem;
                & i {
                    font-size: 2.5rem;
                }
            }
        }
    }

    #wallpaper {
        display: none;
    }
    
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .container {
        & h3 {
            font-size: 1.6rem;
        }
        & #logo {
            width: 5.4rem;
        }
    
        & #checkbox {
            font-size: 0.8rem;
        }
    
        & #login-ok {
            & button {
                width: 2.8rem;
                height: 2.8rem;
                & i {
                    font-size: 2.6rem;
                }
            }
        }
    }

    #wallpaper {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .container {
        & h3 {
            font-size: 2rem;
        }
        & #logo {
            width: 6rem;
        }
    
        & #login-ok {
            & button {
                width: 2.8rem;
                height: 2.8rem;
                & i {
                    font-size: 2.6rem;
                }
            }
        }
    }

    #wallpaper {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .container {
        & h3 {
            font-size: 1.6rem;
        }
        & #logo {
            width: 6rem;
        }
    
        & #login-ok {
            & button {
                width: 2.9rem;
                height: 2.9rem;
                & i {
                    font-size: 2.7rem;
                }
            }
        }
    }
    #wallpaper {
        display: none;
    }
}